/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #dbdf0c; }

  .nav-desktop {
    height: 3.4375rem;
    display: flex;
    justify-content: space-between;
  }
  
  a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(29, 48, 18);
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .nav-desktop .nav-item {
    text-transform: uppercase;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    font-size: 1.81562rem;
    line-height: 0.3rem;
    height: 2.1875rem;
    color: rgb(19, 19, 4);
    display: block;
    float: left;
    margin: -3px;
    padding: 0.5625rem 0.8125rem 0.4375rem;
    border: 0.45rem solid rgb(232, 232, 228);
    position: relative;
    text-align: center;
    background: rgb(192, 74, 19);
    font-family: ko, Impact !important;
  }
  
  .nav-desktop .nav-item:hover {
    text-decoration: none;
  }
  
  .nav-desktop .nav-item::after {
    content: "";
    width: 0.55rem;
    position: absolute;
    background: rgb(232, 232, 228);
    left: 50%;
    height: 0px;
    bottom: 0px;
    transition: all 0.1s linear 0s;
  } 